
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #ffe6f0, #fff0f5);

  display: flex;
  flex-direction: column;
  align-items: center;
}


#root {
  width: 100%;
}


h1 {
  text-align: center;
  margin: 30px 0 10px;
  color: #d63384;
  font-size: 36px;
}


nav {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: #555;
  transition: 0.3s;
}

nav a:hover {
  color: #d63384;
}

nav a.active {
  color: #d63384;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px;
  padding: 20px;
}


.card {
  background: white;
  border-radius: 18px;
  box-shadow: 0 10px 25px rgba(214, 51, 132, 0.15);
  text-align: center;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(214, 51, 132, 0.25);
}


.card img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 15px;
}


.card h3 {
  margin-top: 15px;
  color: #333;
}

.card p {
  color: #777;
  margin-top: 5px;
}


@media (max-width: 992px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}